/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1%;
    background-color: #6dc0d0;
}

.header h1 {
    margin-right: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #033449;
}

/* Content styling */
.content-wrap {
    margin: 5%;
}

h2 {
    color: #444;
}

p, .info {
    color: #666;
    font-size: 16px;
}

/* Input and label styling */
.input-wrap {
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: calc(50% - 20px);
    margin-bottom: 10px;
}

label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.total {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 600;
    color: #04b1d3;   
}

/* Button styling */
button {
    color: rgb(70, 69, 69);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #04768d;
    color: white;
}

/* Table styling */
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px; /* Ensures columns have a minimum width */
}

th.column-long-text, td.column-long-text {
    min-width: 200px; /* Allocates more space for columns with longer text */
}

/* Header remains visible */
th {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .input {
        width: 100%; /* Filter inputs take full width on smaller screens */
    }

    th, td {
        padding: 10px; /* Larger padding for easier interaction */
        white-space: normal; /* Allows text wrapping to avoid truncation */
    }
}

/* Nested table specifics */
td table th, td table td {
    padding: 5px; /* Adjust padding for nested tables */
    font-size: 0.8rem; /* Smaller font size for nested table content */
    border-bottom: none; /* Cleaner look without bottom borders */
}

td table th {
    background-color: #f9f9f9; /* Light background for nested table headers */
}
